.searchItem {
  margin-right: 20px !important;
  width: 120px ;
}

.searchInput{
  margin-right: 20px !important;
  max-width: 400px !important;
}

.nodata{
  text-align: center;
  margin: 30px 0;
  color: #f44336;
}